body{
    width:450px; 
    /*height: 800px;*/
    padding:15px;
}
* {
    font-family: 'Montserrat', Arial, sans-serif;
}

#logo{
    padding-bottom: 10px;
}
#logo span{
    color:#ADACAC;
}

#search-box{
    display: table;
    width:100%;    
    border: 1px solid #E6E6E6;
    border-bottom: 0px;    
}

.search-input-container{
    display:table-cell;
    vertical-align: middle;
    width:85%;
}

#search{
    width: 100%;
    border:0px;
    outline: none; /* to remove the default border caused when using chrome */
}

.search-counter-container{
    display:table-cell;
    vertical-align: middle;
}

#counter{        
    color:green;
    background-color: white;
    display: inline-block;
    border-left: 1px solid #E6E6E6;
    text-align: center;
    width: 66%;
}

#search,#counter{
    padding: 10px;  
    font-weight: bold;      
}

#results-container{
    border: 1px solid rgb(230,230,230);
    width: 100%;
}

#results table{
    padding:10px;
    width:100%;    
}

#results a{
    text-decoration: none;
}

#def {
    font-size:15px; 
}

#def td{
    padding: 5px;
}

#def a{
    color:blue;
}

small.index{
    margin-left:5px;
}